.cards-container{
    display: flex;
    height: 43vh;
    align-items: center;
    justify-content: center;
    background-color: #4AA3A2;
    gap: 50px;
    padding: 40px;
    
  }
  .Card-2{
    background-color: #F0F1F1;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    top: -20px;
  }
  @media screen and (max-width:780px) {
    .cards-container{
      gap: 20px;
      padding: 40px;
    }
  
  }
  @media screen and (max-width:780px) {
    .cards-container{
      padding: 20px;
      gap: 10px;
    }
    .Card-2{
      padding: 10px;
      position: relative;
      top: -10px;
    }
  }