@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap');
body{
  background-color: rgba(230, 229, 229, 0.368);
  margin: 0;
  box-sizing: border-box;
}
div h2{
  margin-top:40px;
  margin-left:4% ;
  text-align: left;
  color: gray;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
.bbb{
  font-family: Raleway, sans-serif;
  font-size: 4vw;
  white-space: nowrap;
}
.displayArticles{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 22em 22em 22em ;
  flex-wrap: wrap;
}

.paginationButtons{
  display:flex;
  height:40px;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2em;
}

.paginationButtons a {
  padding:10px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 8px;
  border-radius: 30px;
  border: 1px solid #4AA3A2;
  cursor:pointer;
  color:rgb(95, 95, 95);
}

.paginationButtons a:hover{
  background-color: #4AA3A2;
  color:white;
  transition: 0.4s;
}
.paginationActive a{
  background-color: #4AA3A2;
  color:white;
}
.Article {
  font-family: Montserrat, sans serif;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height:380px;
  margin:10px;
  box-shadow: 4px 4px 16px rgba(128, 128, 128, 0.196);
  padding: 20px;
  
}
.dix{
  display: flex;
  flex-direction: row;
  width: 100%;
 justify-content: center;
 gap: 30%;
  
}
.Article img {
  
  width: 109%;
  height:100%;
  padding-right: 10%;
  object-fit: cover;
}
.Appx{
  overflow: hidden;

}
.price {
color: rgba(0, 0, 0, 0.796);
text-align: left;
margin:0;
margin-bottom: 15px;
}

.title {
  color: rgb(23, 22, 22);
  font-weight: bolder;
  font-size: 20px;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 1em;

  
}

.Article{
  padding: 2em;
}
.Article .cover img {
  border-radius: 20px;
  width: fit-content;
}
.seeMore{
  height:40px;
  width:180px;
  border-radius:8px;
  border:none;
  background-color: #4AA3A2;
  color:white;
  font-size: 17px;
  margin-bottom: 1px;
  font-family: Montserrat;
}
.seeMore:hover{
  background-color:#54bbb9 ;
  transition:0.4s; 
  cursor:pointer;
}

@media all and (max-width:1050px){
  .displayArticles{
    display: grid;
    justify-content: center;
    grid-template-columns: 25em 25em;
    align-items: center;
  }
}
@media all and (max-width:790px){
  .displayArticles{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (max-width:528px){
  .displayArticles{
 
  margin: 0%;}
}
@media all and (max-width:400px){
  .bbb{
    width: max-content;
  }
  .Article{
    max-width: 250px;
    height:300px;
    margin:10px;
  }
  .img{
    padding-right: 30%;
    width: 7rem;
  }
}
@media all and (max-width:450px){
  .bbb{
    padding-left: 6rem;
  }
 
}
@media all and (max-width:400px){
  .bbb{
    margin-left: 10rem;
  }
 
}
@media all and (max-width:350px){
  .bbb{
    margin-left: 16rem;
    font-size: 0.6rem;
  }
 
}
@media all and (max-width:300px){
  .bbb{
    margin-left: 20rem;
    font-size: 0.6rem;
    margin-top: 9%;
  }
 
}

