/* Styles for small screens */
@media (max-width: 600px) {
  .modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(196, 193, 193, 0.4);
  }
}
.btx{
 
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  color: #4aa3a2;
  border-color: #4aa3a2;
  border-width: 2px;
  width: max-content;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2em;
}
/* Styles for medium screens */
@media (min-width: 600px) and (max-width: 900px) {
  .modal{
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: rgba(196, 193, 193, 0.4);
  }
}

/* Styles for large screens */
@media (min-width: 900px) {
  .modal{
    position: fixed;
    z-index: 1;
    left: 60%;
    top: 0;
    width: 40%;
    height: 100%;
    overflow: auto;
    background-color: rgba(196, 193, 193, 0.4);
  }
}
/*
.modal {
    position: fixed;
    z-index: 1;
    left: 60%;
    top: 0;
    width: 40%;
    height: 100%;
    overflow: auto;
    background-color: rgba(196, 193, 193, 0.4);
  }
  */
  .modal-content {
    background-color: #fefefe;
    margin: 5% 0 15% 50%;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translate(-50%, 0);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .Sort{
    margin-top: 30px;

  }
  .btxContainer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }
  @media all and (max-width:450px){
    
    .btx{
     margin-right: 8rem;
    }
  }
  @media all and (max-width:400px){
    .btx{
      margin-right: 16rem;
    }
   
  }
  @media all and (max-width:400px){
    .btx{
      margin-right: 16rem;
    }
   
  }
  @media all and (max-width:350px){
    .btx{
      margin-right: 24rem;
      width: max-content;
      font-size: 0.7rem;
    }
   
  }
  @media all and (max-width:300px){
    .btx{
      margin-right: 24rem;
      width: max-content;
      font-size: 0.5rem;
    }
   
  }
  